[submodule "Drivers/libcxxcanard"]
	path = Drivers/libcxxcanard
	url = git@github.com:VBCores/libcxxcanard.git
[submodule "Drivers/libvoltbro"]
	path = Drivers/libvoltbro
	url = git@github.com:VBCores/libvoltbro.git
